<!DOCTYPE html>
<html>
    <body id=body_results> 
        <ul id="ul_nav">
            {% for item in nav.top %}
            <li id = "nav" class="{{ 'active' if item.is_active else '' }}">
                <a id="li_a_nav" href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
<head>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
        <div id="desc_holder">
            <h1 id="header" class="reset">AutoOD: A Self-Tuning Anomaly Detection System</h1>
            <p>
                AutoOD is a self-tuning anomaly detection system designed to addressthe challenges of method selection and hyper-parameter tuning while
                remaining unsupervised. AutoOD frees users from the tedious manual
                tuning process often required for anomaly detection by intelligently
                identifying high likelihood inliers and outliers. AutoOD features a
                responsive visual interface allowing for seamless interaction
                providing the user with insightful knowledge of how AutoOD operates.
                AutoOD outperforms the best unsupervised anomaly detection methods,
                yielding results similar to supervised methods that have access to
                ground truth labels.
            </p>
            <p>
                This work has been accepted for publication at VLDB 2022 (48th
                    International Conference on Very Large Databases) one of the most
                    prestigious conferences in database systems.Getting Started: First,
                    upload the dataset you are interested in examining. AutoOD currently
                    accepts CSV and ARFF files. Next, select the unsupervised outlier
                    detection methods you want to run AutoOD with, and provide the column
                    names for the id column and label column from your dataset. Lastly,
                    input the minimum and maximum percentage range for the number of
                    outliers you expect are contained within your dataset.This work has
                    been accepted for publication at VLDB 2022 (48th International
                    Conference on Very Large Databases) one of the most prestigious
                    conferences in database systems.
            </p>
            <br/>
            <span style="font-weight: 700; color: maroon; font-size: 24px;">Getting Started: </span>
            <p>
                First, upload the dataset you are interested in examining. AutoOD
                    currently accepts CSV and ARFF files. Next, select the unsupervised
                    outlier detection methods you want to run AutoOD with, and provide the
                    column names for the id column and label column from your dataset.
                    Lastly, input the minimum and maximum percentage range for the number
                    of outliers you expect are contained within your dataset.
            </p>
            <br/>
            <img alt="architecture" src="https://raw.githubusercontent.com/dhofmann34/AutoOD_Demo/main/screenshots/architecture.jpg"/>
            <br/>
            <span style="font-weight: 700; color: maroon; font-size: 24px;">Our Team:</span>
            <div class="grid-container original-container">
                <div class="grid-item">
                    <img src="https://davis.wpi.edu/dsrg/PROJECTS/AnomalyDetection/assets/img/team-small/elke_rundensteiner.jpg"/>
                    <span class="title">DR. ELKE RUNDENSTEINER</span>
                    <br/>
                    <span>Professor of Computer Scienc eWorcester Polytechnic Institute</span>
                </div>

                <div class="grid-item">
                    <img src="https://davis.wpi.edu/dsrg/PROJECTS/AnomalyDetection/assets/img/team-small/dennis_hofmann.jpg"/>
                    <span class="title">DENNIS HOFMANN</span>
                    <br/>
                    <span>PhD Student in Data Science Worcester Polytechnic Institute</span>
                </div>

                <div class="grid-item">
                    <img src="https://davis.wpi.edu/dsrg/PROJECTS/AnomalyDetection/assets/img/team-small/peter_vannostrand.png"/>
                    <span class="title">PETER VANNOSTRAND</span>
                    <br/>
                    <span>PhD Student in Data Science Worcester Polytechnic Institute</span>
                </div>
            </div>
            <br/>
            <div class="grid-container student-container">
                <div class="grid-item">
                    <img src="../static/img/pic_talia.jpg"/>
                    <span class="title">TALIA ANDREWS</span>
                    <br/>
                    <span>MS Student in Data Science Worcester Polytechnic Institute</span>
                </div>

                <div class="grid-item">
                    <img src="../static/img/pic_tristan.jpg"/>
                    <span class="title">TRISTAN SHARICH</span>
                    <br/>
                    <span>BS Student in Computer Science Worcester Polytechnic Institute</span>
                </div>

                <div class="grid-item">
                    <img src="../static/img/pic_james.jpg"/>
                    <span class="title">JAMES YI</span>
                    <br/>
                    <span>BS Student in Computer Science Worcester Polytechnic Institute</span>
                </div>

                <div class="grid-item">
                    <img src="../static/img/pic_ishayu.jpg"/>
                    <span class="title">ISHAYU DAS</span>
                    <br/>
                    <span>MS Student in Computer Science Worcester Polytechnic Institute</span>
                </div>
            </div>
            <br/>
            <span style="font-weight: 700; color: maroon; font-size: 24px;">Original Work:</span>
            <div>
                <p>
                    AutoOD Demo: Hofmann, Dennis, Peter VanNostrand, Huayi Zhang, Yizhou Yan, Lei Cao, Samuel Madden, and Elke Rundensteiner.
                    "A demonstration of AutoOD: a self-tuning anomaly detection system."
                    Proceedings of the VLDB Endowment 15, no. 12 (2022): 3706-3709.
                </p>
                <p>
                    AutoOD: Cao, Lei, Yizhou Yan, Yu Wang, Samuel Madden, and Elke A. Rundensteiner.
                    "AutoOD: Automatic Outlier Detection."
                    Proceedings of the ACM on Management of Data 1, no. 1 (2023): 1-27.
                </p>
            </div>
        </div>
</body>
</html>