<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error.css') }}"> 
        <html>
            <body>
              <div class="container">
                  <h1>Error Encountered</h1>
                  <p>The page or action you're looking for could not be found.</p>
                  <div >
                    <a id="link_holder" href="/" class="return-button">Return to Home Page</a>
                  </div>
              </div>
          </body>
        </html>
    </body>
</html>