<!DOCTYPE html>
<html lang="en">

<body id=body_results>
    <ul>
        {% for item in nav.top %}
        <li id="nav" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>

    <!-- <dialog id="error_dialog" open>
        <button formmethod="dialog" type="submit">Cancel</button>
    </dialog> -->
</body>

<head>
    <title>AutoOD Results</title>
    <!-- <h1 style="text-align:center">AutoOD Results</h1> -->
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="{{ url_for('static', filename='css/d3_visualization.js') }}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rerun.css') }}">

    <script>
        // Functions that need to be run when the page loads
        window.onload = function () {
            defaultClick();
            updateRunHistoryTabs();
        }

        // Get the element with id="defaultOpen" and click on it
        function defaultClick() {
            document.getElementById("defaultOpen").click();
        }

        // Loader animation
        $(function () {
            $('#submitBtn').click(function () {
                e1 = $('#loader');
                e1.addClass('animate');
                e1.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                    function (e) {
                        e1.removeClass('animate');
                    });
            });
        });

        var currentRun = 1;
        async function updateRunNumber() {
            try {
                const response = await fetch('http://localhost:8080/getRunCount');
                const runCount = await response.text();
                currentRun = runCount;
                return runCount;
            } catch (error) {
                console.error('Error fetching run count:', error);
                // Handle the error as needed
                return null;
            }
        }

        // Dynamically add tabs to the run history
        function updateRunHistoryTabs() {
            updateRunNumber()
                .then(runCount => {
                    console.log('Run count:', runCount);
                    for (let i = 0; i < (runCount - 1); i++) {
                        const text = "Run" + (i + 2);
                        var node_list = document.createElement("li");
                        var node_button = document.createElement("button");

                        node_button.append(text);
                        node_button.classList.add("tablinks");
                        node_button.addEventListener('click', function (event) {
                            updateTabContent(event, text);
                        });
                        node_list.appendChild(node_button)

                        document.getElementById("tab").appendChild(node_list);
                    }
                });
        }
        // Updates button activation and tabcontent header
        function updateTabContent(evt, runHistory) {
            var i, tablinks, run_summary_path;

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            evt.currentTarget.className += " active";
            document.getElementById("history_header").innerHTML = runHistory;
            fetch('http://localhost:8080/getSessionID')
                .then(response => response.text())
                .then(session_id => {
                    var tabIndex = parseInt(runHistory.replace("Run", ""));
                    var local_data_path = `http://localhost:8080/data/${session_id}/${tabIndex}`;
                    var run_summary_path = 'http://localhost:8080/getRunResults/${session_id}/${tabIndex}';
                    fetchDataAndUpdateVisualization(local_data_path);
                })
                .catch(error => console.error('Error fetching session_id:', error));
            fetch(run_summary_path)
                .then(response => response.json())
                .then(results => {
                    console.log(results)
                })
                .catch(error => console.error('Error updating run results: ', error));
        }
        // Get the modal
        var modal1 = document.getElementById("myModal1");
        var modal2 = document.getElementById("myModal2");
        var modal3 = document.getElementById("myModal3");
        var modal4 = document.getElementById("myModal4");

        function closeAllModals(){
            closeModal1();
            closeModal2();
            closeModal3();
            closeModal4();
        }

        function displayModal1(){
            document.getElementById("myModal1").style.display = "block";
            closeModal2();
            closeModal3();
        }
        function displayModal2(){
            document.getElementById("myModal2").style.display = "block";
            closeModal1();
            closeModal3();
        }
        function displayModal3(){
            document.getElementById("myModal3").style.display = "block";
            closeModal1();
            closeModal2();
        }
        function closeModal1() {
            document.getElementById("myModal1").style.display = "none";
            updateLOFData();
        }
        function closeModal2() {
            document.getElementById("myModal2").style.display = "none";
            updateKNNData();
        }
        function closeModal3() {
            document.getElementById("myModal3").style.display = "none";
            updateIFData()
        }
        function openReRunSettings(){
            document.getElementById("settingsModal").style.display = "block";
            var r = document.querySelector(':root');
            r.style.setProperty('--popup_height', '27vw');
        }
        function closeReRunSettings(){
            document.getElementById("settingsModal").style.display = "none";
            var r = document.querySelector(':root');
            r.style.setProperty('--popup_height', '0vw');
        }

        //Getting submit button
        var submitBtn = document.getElementById("submitBtn")

        //Making JSON Object
        //LOF Data
        var globalMinOutlier = "5";
        var globalMaxOutlier = "15";

        function updateOutlierData() {
            globalMinOutlier = document.querySelector('#globalMinOutlier').value;
            globalMaxOutlier = document.querySelector('#globalMaxOutlier').value;
            console.log("OutlierMinMaxData updated");
        }

        var lofKRange = "[10,20,30,40,50,60,70,80,90,100]";

        function updateLOFData() {
            lofKRange = document.querySelector('#lofKRange').value;
            console.log("LOFData updated");
        }
        //KNN Data
        var knnKRange = "[10,20,30,40,50,60,70,80,90,100]";

        function updateKNNData() {
            knnKRange = document.querySelector('#knnKRange').value;
            console.log("KNNData updated");
        }
        //Isolation Forest Data
        var ifRange = "[0.5,0.6,0.7,0.8,0.9]"

        function updateIFData() {
            ifRange = document.querySelector('#ifRange').value;
            console.log("IFData updated");
        }
        function sendJSONData() {
            var lofJSON = "";
            var knnJSON = "";
            var ifJSON = "";
            var mJSON = "";

            //If user wants to run LOF, create JSON object for it
            if(document.getElementById("lofCB").checked == true){
                lofJSON = {lofKRange: lofKRange};
            }

            //If user wants to run KNN, create JSON object for it
            if(document.getElementById("knnCB").checked == true){
                knnJSON = {knnKRange: knnKRange};
            }

            //If user wants to run Isolation Forest, create JSON object for it
            if(document.getElementById("ifCB").checked == true){
                ifJSON = {ifRange: ifRange};
            }

            //If user wants to run Mahalanobis, create JSON object for it
            if(document.getElementById("mCB").checked == true){
                mJSON = {runMahalanobis: "true"};
    
            }

            //If user wants to run Mahalanobis, create JSON object for it
            if(document.getElementById("mCB").checked == false){
                mJSON = {runMahalanobis: "false"};
    
            }

            //Creates base JSON objects with global min and max outliers
            var data = {globalMinOutlier: globalMinOutlier, globalMaxOutlier: globalMaxOutlier,
                        ReRun_Run: currentRun};

            //If lofJSON has been set, merge it with data
            if(lofJSON !== ""){
                data = Object.assign({}, data, lofJSON);
            }

            //If knnJSON has been set, merge it with data
            if(knnJSON !== ""){
                data = Object.assign({}, data, knnJSON);
            }

            //If ifJSON has been set, merge it with data
            if(ifJSON !== ""){
                data = Object.assign({}, data, ifJSON);
            }   

            //If mJSON has been set, merge it with data
            if(mJSON !== ""){
                data = Object.assign({}, data, mJSON);
            }

            var sendData = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            var url = "result";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");

            //Reload the page after rerun
            xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Error processing the JSON file");
                    }
                };

            console.log(sendData);
            xhr.send(sendData);
            console.log("JSON file has been sent");
        }

        document.addEventListener("DOMContentLoaded", function() {
            const inputs = {
            'globalMinOutlier': {positive: true},
            'globalMaxOutlier': {positive: true},
            'lofKRange': {commaSeparatedPositiveIntegers: true},
            'knnKRange': {commaSeparatedPositiveIntegers: true},
            'ifRange': {commaSeparatedPositiveIntegers: true}
            };

            const submitBtn = document.getElementById('submitBtn');
            const toaster = document.getElementById('toaster');

            function updateSubmitButton() {
            const hasError = Object.keys(inputs).some(inputId => {
                const inputElement = document.getElementById(inputId);
                return inputElement.classList.contains('form_error');
            });
            submitBtn.disabled = hasError;
            toaster.style.display = hasError ? 'block' : 'none';
            }

            Object.keys(inputs).forEach(inputId => {
            const inputElement = document.getElementById(inputId);

            inputElement.addEventListener("input", function() {
                const inputValue = inputElement.value.trim();
                const config = inputs[inputId];

                if (inputValue === "") {
                inputElement.classList.remove("form_error");
                updateSubmitButton();
                return; // Skip validation if input is empty
                }

                if (config.positive) {
                const numericValue = parseFloat(inputValue);
                if (isNaN(numericValue) || numericValue <= 0) {
                    inputElement.classList.add("form_error");
                } else {
                    inputElement.classList.remove("form_error");
                }
                } else if (config.commaSeparatedPositiveIntegers) {
                const numbers = inputValue.split(",").map(num => parseInt(num.trim(), 10));
                const isInvalid = numbers.some(num => isNaN(num) || num <= 0);
                if (isInvalid) {
                    inputElement.classList.add("form_error");
                } else {
                    inputElement.classList.remove("form_error");
                }
                }

                updateSubmitButton();
            });
            });
        });

    </script>
</head>

<!-- <div id="dataviz_axisZoom"></div> -->

<div id="toaster">Please correct the errors in the Rerun Settings.</div>

<div class="vl"></div>

<div id=temp>
    <div id=test_tabel></div>
    <div id=table_div>
        <table id="table" class="display" style="width:10%;"></table>
    </div>
    <div id=table2_div>
        <table id="table2" class="display" style="width:10%"></table>
    </div>
</div>

<div id="above_graph_content">
    <div id="summary">
        <div id="summary_Title"><b>Metrics on Run Performance</b></div>
        <form enctype=multipart/form-data>
            <table>
                <tr>
                    <td>F-1 of AutoOD</td>
                    <td> </td>
                    <td>{{ autood_f1 }}</td>
                </tr>
                <tr>
                    <td>F-1 of Best Unsupervised Detector</td>
                    <td> </td>
                    <td>{{ best_f1 }}</td>
                </tr>
                <tr>
                    <td>Best Unsupervised Detector</td>
                    <td> </td>
                    <td>{{best_method}}</td>
                </tr>
            </table>
        </form>
    </div>
    
    <div id="filter">
        <div id="filtertitle">Filtering:</div>
        <div id="pred_but">
            <label for="metric">Metric:</label>
            <select id="metric"></select>
        </div>
        <div id="label_but">
            <label for="selectButton_label">Label:</label>
            <select id="selectButton_label"></select>
        </div>
        <div id="correct_but">
            <label for="selectButton_correct">Correct Prediction?:</label>
            <select id="selectButton_correct"></select>
        </div>
    </div>
</div>


<div id="loader"></div>

<div class="tab_holder">
    <div class="runlist_holder">
        <ul class="tab" id="tab">
            <li><button id="settingsBtn" onclick="openReRunSettings()">Rerun Settings</button></li>
            <br>
            <li><button class="tablinks" onclick="updateTabContent(event, 'Run1')" id="defaultOpen">Run1
                <form enctype=multipart/form-data>
                    <table>
                        <tr>
                            <td>F-1 = </td>
                            <td> </td>
                            <td>{{ autood_f1 }}</td>
                        </tr>
                    </table>
                </form></button></li>
        </ul>
    </div>

    <div class="tabcontent_holder">
        <div id="Run1" class="tabcontent">
            <h3 id="history_header">Run1</h3>
            <ul class="legend">
                <li><span class="inlier"></span id="in">Inlier</li>
                <li><span class="outlier"></span id="out">Outlier</li>
                <!-- <li><span class="incorrect"></span id = "incorr">Incorrect Prediction</li> -->
            </ul>
            <div id="dataviz_axisZoom"></div>
        </div>
    </div>
    <div id="reliable_labels">
        <div id="reliable_inout_div">
            <label for="reliable_inout">Reliable Label:</label>
            <select id="reliable_inout"></select>
        </div>
        <p id="reliable_output"> </p>
        <div class="row align-items-center">
            <div class="col-sm-2">
                <p id="value-step"></p>
            </div>
            <label for="slider-step">Reliable labels by iteration </label>
            <div class="col-sm">
                <div id="slider-step"></div>
            </div>
        </div>
    </div>
</div>



<div id=popup_chart>
    <div id="barplot"></div>
    <div id="barplot2"></div>
</div>

<div id="settings_holder">
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close1" onclick="closeReRunSettings()">&times;</span>
            <h3>Rerun Settings</h3>

            <table>
                <tr>
                    <td>
                        <label for="globalMinOutlier">Global Minimum Outlier</label>
                        <input type="text" id="globalMinOutlier" name="globalMinOutlier" placeholder="5" onfocusout="updateOutlierData()">
                    </td>

                </tr>

                <tr>
                    <td>
                        <label for="globalMaxOutlier">Global Maximum Outlier</label>
                        <input type="text" id="globalMaxOutlier" name="globalMaxOutlier" placeholder="15" onfocusout="updateOutlierData()">
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/action_page.php">
                            <input type="checkbox" checked="true" id="lofCB"/>
                            <label for="lofKRange">Enter K-Range for LOF:</label>
                            <input type="text" id="lofKRange" name="lofKRange" placeholder="[10,20,30,40,50,60,70,80,90,100]" onfocusout="updateLOFData()">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/action_page.php">
                            <input type="checkbox" checked="true" id="knnCB"/>
                            <label for="knnKRange">Enter K-Range for KNN:</label>
                            <input type="text" id="knnKRange" name="knnKRange" placeholder="[10,20,30,40,50,60,70,80,90,100]" onfocusout="updateKNNData()">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="/action_page.php">
                            <input type="checkbox" checked="true" id="ifCB"/>
                            <label for="ifRange">Enter IF-Range for Isloation Forest:</label>
                            <input type="text" id="ifRange" name="ifRange" placeholder="[10,20,30,40,50,60,70,80,90,100]" onfocusout="updateIFData()">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" checked="true" id="mCB"/>
                        <label for="ifmCB">Mahalanobis</label>
                    </td>
                </tr>

                <tr>
                    <td><button id="submitBtn" onclick="sendJSONData()"><b>Update settings and initiate new run</b></button></td>
                </tr>

            </table>
        </div>
    </div>
</div>



</html>