<!DOCTYPE html>
<html lang="en">

<body id=body_results>
    <ul>
        {% for item in nav.top %}
        <li id="nav" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</body>

<head>
    <title>AutoOD Results</title>
    <!-- <h1 style="text-align:center">AutoOD Results</h1> -->
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="{{ url_for('static', filename='css/d3_visualization.js') }}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rerun.css') }}">

    <script>
        // Functions that need to be run when the page loads
        window.onload = function () {
            defaultClick();
            updateRunHistoryTabs();
        }

        // Get the element with id="defaultOpen" and click on it
        function defaultClick() {
            document.getElementById("defaultOpen").click();
        }

        // Loader animation
        $(function () {
            $('#submitBtn').click(function () {
                e1 = $('#loader');
                e1.addClass('animate');
                e1.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                    function (e) {
                        e1.removeClass('animate');
                    });
            });
        });

        async function updateRunNumber() {
            try {
                const response = await fetch('http://localhost:8080/getRunCount');
                const runCount = await response.text();
                return runCount;
            } catch (error) {
                console.error('Error fetching run count:', error);
                // Handle the error as needed
                return null;
            }
        }

        // Dynamically add tabs to the run history
        function updateRunHistoryTabs() {
            updateRunNumber()
                .then(runCount => {
                    console.log('Run count:', runCount);
                    for (let i = 0; i < (runCount - 1); i++) {
                        const text = "Run" + (i + 2);
                        var node_list = document.createElement("li");
                        var node_button = document.createElement("button");

                        node_button.append(text);
                        node_button.classList.add("tablinks");
                        node_button.addEventListener('click', function (event) {
                            updateTabContent(event, text);
                        });
                        node_list.appendChild(node_button)

                        document.getElementById("tab").appendChild(node_list);
                    }
                });
        }
        // Updates button activation and tabcontent header
        function updateTabContent(evt, runHistory) {
            var i, tablinks;

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            evt.currentTarget.className += " active";
            document.getElementById("history_header").innerHTML = runHistory;
            fetch('http://localhost:8080/getSessionID')
                .then(response => response.text())
                .then(session_id => {
                    var tabIndex = parseInt(runHistory.replace("Run", ""));
                    var local_data_path = `http://localhost:8080/data/${session_id}/${tabIndex}`;
                    console.log(local_data_path)
                    fetchDataAndUpdateVisualization(local_data_path);
                })
                .catch(error => console.error('Error fetching session_id:', error));

        }
        // Get the modal
        var modal1 = document.getElementById("myModal1");
        var modal2 = document.getElementById("myModal2");
        var modal3 = document.getElementById("myModal3");
        var modal4 = document.getElementById("myModal4");

        function closeAllModals(){
            closeModal1();
            closeModal2();
            closeModal3();
            closeModal4();
        }

        function displayModal1(){
            document.getElementById("myModal1").style.display = "block";
            closeModal2();
            closeModal3();
        }
        function displayModal2(){
            document.getElementById("myModal2").style.display = "block";
            closeModal1();
            closeModal3();
        }
        function displayModal3(){
            document.getElementById("myModal3").style.display = "block";
            closeModal1();
            closeModal2();
        }
        function closeModal1() {
            document.getElementById("myModal1").style.display = "none";
            updateLOFData();
        }
        function closeModal2() {
            document.getElementById("myModal2").style.display = "none";
            updateKNNData();
        }
        function closeModal3() {
            document.getElementById("myModal3").style.display = "none";
            updateIFData()
        }
        function openReRunSettings(){
            document.getElementById("settingsModal").style.display = "block";
        }
        function closeReRunSettings(){
            document.getElementById("settingsModal").style.display = "none";
        }

        //Getting submit button
        var submitBtn = document.getElementById("submitBtn")

        //Making JSON Object
        //LOF Data
        var globalMinOutlier = "5";
        var globalMaxOutlier = "15";

        function updateOutlierData() {
            globalMinOutlier = document.querySelector('#globalMinOutlier').value;
            globalMaxOutlier = document.querySelector('#globalMaxOutlier').value;
            console.log("OutlierMinMaxData updated");
        }

        var lofKRange = "[10,20,30,40,50,60,70,80,90,100]";

        function updateLOFData() {
            lofKRange = document.querySelector('#lofKRange').value;
            console.log("LOFData updated");
        }
        //KNN Data
        var knnKRange = "[10,20,30,40,50,60,70,80,90,100]";

        function updateKNNData() {
            knnKRange = document.querySelector('#knnKRange').value;
            console.log("KNNData updated");
        }
        //Isolation Forest Data
        var ifRange = "[0.5,0.6,0.7,0.8,0.9]"

        function updateIFData() {
            ifRange = document.querySelector('#ifRange').value;
            console.log("IFData updated");
        }
        function sendJSONData() {
            var lofJSON = "";
            var knnJSON = "";
            var ifJSON = "";
            var mJSON = "";

            //If user wants to run LOF, create JSON object for it
            if(document.getElementById("lofCB").checked == true){
                lofJSON = {lofKRange: lofKRange};
            }

            //If user wants to run KNN, create JSON object for it
            if(document.getElementById("knnCB").checked == true){
                knnJSON = {knnKRange: knnKRange};
            }

            //If user wants to run Isolation Forest, create JSON object for it
            if(document.getElementById("ifCB").checked == true){
                ifJSON = {ifRange: ifRange};
            }

            //If user wants to run Mahalanobis, create JSON object for it
            if(document.getElementById("mCB").checked == true){
                mJSON = {runMahalanobis: "true"};
    
            }

            //If user wants to run Mahalanobis, create JSON object for it
            if(document.getElementById("mCB").checked == false){
                mJSON = {runMahalanobis: "false"};
    
            }

            //Creates base JSON objects with global min and max outliers
            var data = {globalMinOutlier: globalMinOutlier, globalMaxOutlier: globalMaxOutlier};

            //If lofJSON has been set, merge it with data
            if(lofJSON !== ""){
                data = Object.assign({}, data, lofJSON);
            }

            //If knnJSON has been set, merge it with data
            if(knnJSON !== ""){
                data = Object.assign({}, data, knnJSON);
            }

            //If ifJSON has been set, merge it with data
            if(ifJSON !== ""){
                data = Object.assign({}, data, ifJSON);
            }   

            //If mJSON has been set, merge it with data
            if(mJSON !== ""){
                data = Object.assign({}, data, mJSON);
            }

            var sendData = JSON.stringify(data);
            var xhr = new XMLHttpRequest();
            var url = "result";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json");
            console.log(sendData);
            xhr.send(sendData);
            console.log("JSON file has been sent");
            if(document.getElementById("lofCB").checked == false){
                var data = JSON.stringify({
                    "globalMinOutlier": globalMinOutlier, "globalMaxOutlier": globalMaxOutlier,
                    "runMalanohbis": "true", "knnKRange": knnKRange, "ifRange": ifRange,
                });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                
                //Reload the page after rerun
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Error processing the JSON file");
                    }
                };

                xhr.send(data);
                console.log("JSON file has been sent");
            }

           else if(document.getElementById("knnCB").checked == false){
                var data = JSON.stringify({
                    "globalMinOutlier": globalMinOutlier, "globalMaxOutlier": globalMaxOutlier,
                    "runMalanohbis": "true", "lofKRange": lofKRange, "ifRange": ifRange,
                });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                
                //Reload the page after rerun
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Error processing the JSON file");
                    }
                };

                xhr.send(data);
                console.log("JSON file has been sent");
            }

            else if(document.getElementById("ifCB").checked == false){
                var data = JSON.stringify({
                    "globalMinOutlier": globalMinOutlier, "globalMaxOutlier": globalMaxOutlier,
                    "runMalanohbis": "true", "lofKRange": lofKRange, "knnKRange": knnKRange,
            });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");

                //Reload the page after rerun
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Error processing the JSON file");
                    }
                };

                xhr.send(data);
                console.log("JSON file has been sent");

            }

            else if(document.getElementById("mCB").checked == false){
                var data = JSON.stringify({
                    "globalMinOutlier": globalMinOutlier, "globalMaxOutlier": globalMaxOutlier,
                    "runMalanohbis": "false","lofKRange": lofKRange, "knnKRange": knnKRange, "ifRange": ifRange
                });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");

                //Reload the page after rerun
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Error processing the JSON file");
                    }
                };

                xhr.send(data);
                console.log("JSON file has been sent");
            }
            else{
                var data = JSON.stringify({
                    "globalMinOutlier": globalMinOutlier, "globalMaxOutlier": globalMaxOutlier,
                    "runMalanohbis": "true", "lofKRange": lofKRange, "knnKRange": knnKRange, "ifRange": ifRange,
                });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");

                //Reload the page after rerun
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error("Error processing the JSON file");
                    }
                };

                xhr.send(data);
                console.log("JSON file has been sent");
            }
        }

    </script>
</head>

<!-- <div id="dataviz_axisZoom"></div> -->

<div id="reliable_labels">
    <div id="reliable_inout_div">
        <label for="reliable_inout">Reliable Label:</label>
        <select id="reliable_inout"></select>
    </div>
    <p id="reliable_output"> </p>
    <div class="row align-items-center">
        <div class="col-sm-2">
            <p id="value-step"></p>
        </div>
        <label for="slider-step">Reliable labels by iteration </label>
        <div class="col-sm">
            <div id="slider-step"></div>
        </div>
    </div>
</div>

<div id="filter">
    <div id="filtertitle">Filtering:</div>

    <br>
    <div id="pred_but">
        <label for="metric">Metric:</label>
        <select id="metric"></select>
    </div>
    <div id="label_but">
        <label for="selectButton_label">Label:</label>
        <select id="selectButton_label"></select>
    </div>
    <div id="correct_but">
        <label for="selectButton_correct">Correct Prediction?:</label>
        <select id="selectButton_correct"></select>
    </div>
</div>

<ul class="legend">
    <li><span class="inlier"></span id="in">Inlier</li>
    <li><span class="outlier"></span id="out">Outlier</li>
    <!-- <li><span class="incorrect"></span id = "incorr">Incorrect Prediction</li> -->
</ul>

<div class="vl"></div>

<div id=temp>
    <div id=test_tabel></div>
    <div id=table_div>
        <table id="table" class="display" style="width:10%;"></table>
    </div>
    <div id=table2_div>
        <table id="table2" class="display" style="width:10%"></table>
    </div>
</div>

<div id="summary">
    <form enctype=multipart/form-data>
        <table>
            <tr>
                <td><b>F-1 of AutoOD</b></td>
                <td> </td>
                <td>{{ autood_f1 }}</td>
            </tr>
            <tr>
                <td><b>F-1 of Best Unsupervised Detector</b></td>
                <td> </td>
                <td>{{ best_f1 }}</td>
            </tr>
            <tr>
                <td><b>Best Unsupervised Detector</b></td>
                <td> </td>
                <td>{{best_method}}</td>
            </tr>
        </table>
    </form>
</div>

<div id="loader"></div>

<div class="tab_holder">
    <ul class="tab" id="tab">
        <li><button class="tablinks" onclick="updateTabContent(event, 'Run1')" id="defaultOpen">Run1</button></li>
    </ul>
    <div class="tabcontent_holder">
        <div id="Run1" class="tabcontent">
            <h3 id="history_header">Run1</h3>
            <div id="dataviz_axisZoom"></div>
        </div>
    </div>
    <div>
        <button id="settingsBtn" onclick="openReRunSettings()">Re-Run Settings</button>
        <button id="submitBtn" onclick="sendJSONData()"><b>Rerun</b></button> <!--onclick="setTimeout(window.location.reload(), 3000)"-->
    </div>
</div>

<div id=popup_chart>
    <div id="barplot"></div>
    <div id="barplot2"></div>
</div>


<div id="rerun_holder">
</div>

<div id="settings_holder">
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close1" onclick="closeReRunSettings()">&times;</span>
            <span class="home-text">Re-Run Settings</span>

            <span class="home-text1">Range for all models</span><br>
            <span class="home-text1">Global minOutlier</span>
            <input type="text" id="globalMinOutlier" name="globalMinOutlier" placeholder="5" onfocusout="updateOutlierData()">
            <br>
            <span class="home-text1">Global maxOutlier</span>
            <input type="text" id="globalMaxOutlier" name="globalMaxOutlier" placeholder="15" onfocusout="updateOutlierData()">
            <br>
            
            <span class="home-text1" onclick="displayModal1()">Local Outlier Factor</span>
            <input type="checkbox" checked="true" id="lofCB"/>

            <span class="home-text2" onclick="displayModal2()">knn-N-Neighbors</span>
            <input type="checkbox" checked="true" id="knnCB"/>

            <span class="home-text3" onclick="displayModal3()">Isloation Forest</span>
            <input type="checkbox" checked="true" id="ifCB"/>

            <span class="home-text3">Mahalanobis</span>
            <input type="checkbox" checked="true" id="mCB"/>
            
        </div>
    </div>
</div>

<!-- Modal div -->

<div id="modal_holder">
    <!-- The Modal -->
    <div id="myModal1" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close1" onclick="closeModal1()">&times;</span>
            <p>Local Outlier Factor</p>
            <br><br>
            <form action="/action_page.php">
                <label for="lofKRange">Enter K-Range for LOF:</label>
                <input type="text" id="lofKRange" name="lofKRange" placeholder="[10,20,30,40,50,60,70,80,90,100]" onfocusout="updateLOFData()">
                <br><br>
            </form>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close2" onclick="closeModal2()">&times;</span>
            <p>k - Nearest - Neighbors Settings</p>
            <br><br>
            <form action="/action_page.php">
                <label for="knnKRange">Enter K-Range for KNN:</label>
                <input type="text" id="knnKRange" name="knnKRange" placeholder="[10,20,30,40,50,60,70,80,90,100]" onfocusout="updateKNNData()">
                <br><br>
            </form>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal3" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close3" onclick="closeModal3()">&times;</span>
            <p>Isolation Forest</p>
            <br><br>
            <form action="/action_page.php">
                <label for="ifRange">Enter IF-Range for Isloation Forest:</label>
                <input type="text" id="ifRange" name="ifRange" placeholder="[10,20,30,40,50,60,70,80,90,100]" onfocusout="updateIFData()">
                <br><br>
            </form>
        </div>
    </div>
</div>

</html>