<!DOCTYPE html>
<html lang ="en">
  <body id=body_results> 
    <ul id="ul_nav">
        {% for item in nav.top %}
        <li id = "nav" class="{{ 'active' if item.is_active else '' }}">
            <a id="li_a_nav" href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logs.css') }}"/>

    <title>AutoOD: Automatic Outlier Detection</title>

  </head>
  <body>
    <h2>Files for View</h2>
      <div class="logging_window">
        <ul id="file-list" class="grid-item">
            {% for file in files %}
                <li class="list_item"><a href="#" onclick="loadFile('{{ url_for('logs.view_file', filename=file) }}')">{{ file }}</a></li>
            {% endfor %}
        </ul>

        <div id="file-content-container" class="grid-item"></div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            function loadFile(url) {
                $.get(url, function(data) {
                    $('#file-content-container').html(data);
                });
            }
        </script>
      </div>
  </body>
</html> 