<!DOCTYPE html>
<html lang ="en">
  <body id=body_results> 
    <ul id="ul_nav">
        {% for item in nav.top %}
        <li id = "nav" class="{{ 'active' if item.is_active else '' }}">
            <a id="li_a_nav" href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/logs.css') }}"/>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      var activeFilename = null;

      function loadFile(element,url) {
        // Remove "active" class from all list items
        $('#file-list li').removeClass('active');
        
        // Add "active" class to the clicked list item
        $(element).parent().addClass('active');

        // Set the active filename
        activeFilename = $(element).text();

        $.get(url, function(data) {
              $('#file-content-container').html(data);
          });

        $('#download_link').attr('href', 'output/' + activeFilename);
      }

      function download_file(){
        // Get the content of the <pre> element within the div with id 'file-content'
        var content = document.getElementById('file-content').querySelector('pre').innerText;

        // Create a Blob containing the content
        var blob = new Blob([content], { type: 'text/plain' });

        var downloadLink = document.createElement('a');
        downloadLink.href = window.URL.createObjectURL(blob);
        downloadLink.download = 'log.txt';

        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      }

  </script>

  <title>AutoOD: Automatic Outlier Detection</title>

  </head>
  <body>
      <div class="logging_window">
        <ul id="file-list" class="grid-item">
            {% for file in files %}
                <li class="list_item">
                  <a href="#" onclick="loadFile(this, '{{ url_for('logs.view_file', filename=file) }}')">{{ file }} <!-- Ignore Error -->
                  </a>
                </li>
            {% endfor %}
        </ul>

        <div id="file-content-container" class="grid-item">
          <!-- Delete below -->
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="300.000000pt" height="112.000000pt" viewBox="0 0 300.000000 112.000000"
            preserveAspectRatio="xMidYMid meet">
            <metadata>
            Created by potrace 1.10, written by Peter Selinger 2001-2011
            </metadata>
            <g transform="translate(0.000000,112.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M0 1085 c0 -31 3 -35 25 -35 31 0 74 -21 99 -48 10 -12 58 -153 108
            -314 49 -161 112 -367 140 -458 28 -91 55 -180 60 -197 8 -31 12 -33 51 -33
            l43 0 123 373 c68 204 126 375 130 379 4 4 49 -108 100 -250 52 -141 114 -312
            138 -380 l45 -122 42 0 43 0 37 127 c70 240 237 756 266 819 32 71 61 94 125
            102 55 6 97 -11 131 -51 l25 -30 -3 -413 c-3 -404 -3 -414 -24 -434 -12 -13
            -41 -24 -70 -28 -46 -7 -49 -9 -52 -40 l-3 -32 256 0 256 0 -3 33 c-3 31 -5
            32 -57 39 -91 11 -95 20 -99 206 l-4 157 86 -4 c265 -10 446 131 446 348 0 80
            -26 153 -73 207 -92 105 -145 113 -724 114 l-453 0 0 -35 c0 -29 4 -35 21 -35
            33 0 85 -29 98 -54 11 -19 7 -44 -23 -162 -55 -210 -139 -495 -145 -489 -3 3
            -67 175 -142 383 l-137 377 -40 3 -39 3 -67 -208 c-155 -479 -180 -553 -186
            -546 -7 8 -177 587 -181 613 -5 48 29 80 86 80 22 0 25 4 25 35 l0 35 -240 0
            -240 0 0 -35z m2070 -46 c102 -22 161 -106 163 -233 2 -100 -18 -162 -68 -211
            -59 -59 -126 -74 -217 -49 -16 5 -18 24 -18 224 0 120 4 230 9 244 9 22 24 30
            68 35 7 0 35 -4 63 -10z"/>
            <path d="M2510 1086 c0 -32 1 -34 46 -39 29 -3 54 -13 68 -26 21 -21 21 -28
            24 -438 2 -291 -1 -425 -9 -444 -11 -29 -44 -46 -94 -51 -26 -3 -30 -8 -33
            -36 l-3 -32 246 0 246 0 -3 32 c-3 31 -6 33 -53 40 -89 13 -85 -11 -85 475 0
            258 4 431 10 443 11 21 60 40 101 40 26 0 29 3 29 35 l0 35 -245 0 -245 0 0
            -34z"/>
            </g>
          </svg>
          <!-- Delete above -->
        </div>
      </div>
      <button id="download-btn" onclick="download_file()">Download Active File</button>
  </body>
</html> 