.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-container01 {
    width: 80%;
    height: 850px;
    display: flex;
    align-self: center;
    margin-top: 150px;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    font-size: 32px;
    font-weight: bold;
  }
  .home-text01 {
    padding: var(--dl-space-space-unit);
    margin-top: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius4);
    margin-bottom: var(--dl-space-space-threeunits);
    background-color: rgb(217, 217, 217);
    border-top-left-radius: var(--dl-radius-radius-radius4);
    border-bottom-left-radius: var(--dl-radius-radius-radius4);
  }
  .home-text02 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-text03 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-text04 {
    font-size: 16px;
  }
  .home-text05 {
    font-size: 16px;
  }
  .home-text06 {
    font-size: 16px;
  }
  .home-text07 {
    font-size: 16px;
  }
  .home-text08 {
    font-size: 16px;
  }
  .home-text09 {
    font-size: 16px;
  }
  .home-text10 {
    font-size: 16px;
  }
  .home-text11 {
    font-size: 16px;
    font-weight: 700;
  }
  .home-text12 {
    font-size: 16px;
  }
  .home-pasted-image {
    align-self: center;
  }
  .home-container02 {
    flex: 0 0 auto;
    width: 100%;
    height: var(--dl-size-size-maxwidth);
    display: flex;
    padding: var(--dl-space-space-twounits);
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    background-color: #D9D9D9;
  }
  .home-container03 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container04 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image01 {
    align-self: center;
  }
  .home-text14 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text15 {
    font-weight: 700;
  }
  .home-container05 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image02 {
    width: 336px;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    height: 336px;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-image: url("/pastedimage-vtcc-400h.png");
    background-position: center;
  }
  .home-text19 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text20 {
    font-weight: 700;
  }
  .home-text21 {
    font-weight: 700;
  }
  .home-container06 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image03 {
    width: 351px;
    height: 334px;
    align-self: center;
  }
  .home-text24 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text25 {
    font-weight: 700;
  }
  .home-container07 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container08 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image04 {
    width: 361px;
    height: 361px;
    align-self: center;
  }
  .home-text29 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text30 {
    font-weight: 700;
  }
  .home-container09 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image05 {
    width: 361px;
    height: 361px;
    align-self: center;
  }
  .home-text34 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text35 {
    font-weight: 700;
  }
  .home-container10 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image06 {
    width: 361px;
    height: 361px;
    align-self: center;
  }
  .home-text39 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text40 {
    font-weight: 700;
  }
  .home-container11 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
  .home-container12 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image07 {
    width: 361px;
    height: 361px;
    align-self: center;
  }
  .home-text44 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text45 {
    font-weight: 700;
  }
  .home-container13 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image08 {
    width: 361px;
    height: 361px;
    align-self: center;
  }
  .home-text49 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text50 {
    font-weight: 700;
  }
  .home-container14 {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    align-self: center;
    text-align: center;
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-pasted-image09 {
    width: 361px;
    height: 361px;
    align-self: center;
  }
  .home-text54 {
    align-self: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text55 {
    font-weight: 700;
  }
  