<!DOCTYPE html>
<html lang="en">

<body id=body_results>
    <ul>
        {% for item in nav.top %}
        <li id="nav" class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</body>

<head>
    <title>AutoOD Results</title>
    <!-- <h1 style="text-align:center">AutoOD Results</h1> -->
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="{{ url_for('static', filename='css/d3_visualization.js') }}" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rerun.css') }}">

    <script>
        // Functions that need to be run when the page loads
        window.onload = function () {
            defaultClick();
            updateRunHistoryTabs();
        }

        // Get the element with id="defaultOpen" and click on it
        function defaultClick() {
            document.getElementById("defaultOpen").click();
        }

        // Loader animation
        $(function () {
            $('#submitBtn').click(function () {
                e1 = $('#loader');
                e1.addClass('animate');
                e1.one('webkitAnimationEnd oanimationend msAnimationEnd animationend',
                    function (e) {
                        e1.removeClass('animate');
                    });
            });
        });

        // Dynamically add tabs to the run history
        function updateRunHistoryTabs() {

            for (let i = 0; i < (runNumber - 1); i++) {
                const text = "Run" + (i + 2);
                var node_list = document.createElement("li");
                var node_button = document.createElement("button");

                node_button.append(text);
                node_button.classList.add("tablinks");
                node_button.addEventListener('click', function (event) {
                    updateTabContent(event, text);
                });
                node_list.appendChild(node_button)

                document.getElementById("tab").appendChild(node_list);
            }
        }

        // Updates button activation and tabcontent header
        function updateTabContent(evt, runHistory) {
            var i, tablinks;

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            evt.currentTarget.className += " active";
            document.getElementById("history_header").innerHTML = runHistory;
        }
        // Get the modal
        var modal1 = document.getElementById("myModal1");
        var modal2 = document.getElementById("myModal2");
        var modal3 = document.getElementById("myModal3");
        var modal4 = document.getElementById("myModal4");

        function closeAllModals(){
            closeModal1();
            closeModal2();
            closeModal3();
            closeModal4();
        }

        function displayModal1(){
            closeAllModals();
            document.getElementById("myModal1").style.display = "block";
        }
        function displayModal2(){
            closeAllModals();
            document.getElementById("myModal2").style.display = "block";
        }
        function displayModal3(){
            closeAllModals();
            document.getElementById("myModal3").style.display = "block";
        }
        function displayModal4(){
            closeAllModals();
            document.getElementById("myModal4").style.display = "block";
        }

        function closeModal1() {
            document.getElementById("myModal1").style.display = "none";
        }
        function closeModal2() {
            document.getElementById("myModal2").style.display = "none";
        }
        function closeModal3() {
            document.getElementById("myModal3").style.display = "none";
        }
        function closeModal4() {
            document.getElementById("myModal4").style.display = "none";
        }

        //Getting the update buttons
        var lofUpdate = document.getElementById("lofUpdate").addEventListener("click", stringifyLOFData);
        var knnUpdate = document.getElementById("knnUpdate").addEventListener("click", stringifyKNNData);
        var ifUpdate = document.getElementById("ifUpdate").addEventListener("click", stringifyIFData);
        var mUpdate = document.getElementById("mUpdate").addEventListener("click", stringifyMData);

        //Getting submit button
        var submitBtn = document.getElementById("submitBtn").addEventListener("click", sendJSONData);

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal1();
            }
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal2()
            }
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal3()
            }
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                closeModal4()
            }
        }

        //Making JSON Object
        //LOF Data
        var lofKRange = "[10,20,30,40,50,60,70,80,90,100]";
        var lofMinOutlier = "5";
        var lofMaxOutlier = "15";

        function updateLOFData() {
            lofKRange = document.querySelector('#lofKRange').value;
            lofMinOutlier = document.querySelector('#lofMinOutlier').value;
            lofMaxOutlier = document.querySelector('#lofMaxOutlier').value;
            closeModal1()
            console.log("LOFData updated");
        }
        //KNN Data
        var knnKRange = "[10,20,30,40,50,60,70,80,90,100]";
        var knnMinOutlier = "5";
        var knnMaxOutlier = "15";

        function updateKNNData() {
            knnKRange = document.querySelector('#knnKRange').value;
            knnMinOutlier = document.querySelector('#knnMinOutlier').value;
            knnMaxOutlier = document.querySelector('#knnMaxOutlier'.value);
            closeModal2()
            console.log("KNNData updated");
        }
        //Isolation Forest Data
        var ifKRange = "[10,20,30,40,50,60,70,80,90,100]";
        var ifRange = "[0.5,0.6,0.7,0.8,0.9]"
        var ifMinOutlier = "5";
        var ifMaxOutlier = "15";

        function updateIFData() {
            ifKRange = document.querySelector('#ifKRange').value;
            ifRange = document.querySelector('#ifRange').value;
            ifMinOutlier = document.querySelector('#ifMinOutlier').valye;
            ifMaxOutlier = document.querySelector('#ifMaxOutlier').value;
            closeModal3()
            console.log("IFData updated");
        }
        //Malanohbis Data
        var mMinOutlier = "5";
        var mMaxOutlier = "15";

        function updateMData() {
            mMinOutlier = document.querySelector('#mMinOutlier').value;
            mMaxOutlier = document.querySelector('#mMaxOutlier').value;
            closeModal4()
            console.log("MData updated");
        }

        function sendJSONData() {
            
            if(document.getElementById("lofCB").checked == false){
                var data = JSON.stringify({
                "knnKRange": knnKRange, "knnMinOutlier": knnMinOutlier, "knnMaxOutlier": knnMaxOutlier,
                "ifKRange": ifKRange, "ifRange": ifRange, "ifMinOutlier": lofMinOutlier, "ifMaxOutlier": lofMaxOutlier,
                "mMinOutlier": mMinOutlier, "mMaxOutlier": mMaxOutlier,
                });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(data);
                console.log("JSON file has been sent");
            } 

           else  if(document.getElementById("knnCB").checked == false){
                var data = JSON.stringify({
                "lofKRange": lofKRange, "lofMinOutlier": lofMinOutlier, "lofMaxOutlier": lofMaxOutlier,
                "ifKRange": ifKRange, "ifRange": ifRange, "ifMinOutlier": lofMinOutlier, "ifMaxOutlier": lofMaxOutlier,
                "mMinOutlier": mMinOutlier, "mMaxOutlier": mMaxOutlier,
                });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(data);
                console.log("JSON file has been sent");
            }

            else if(document.getElementById("ifCB").checked == false){
                var data = JSON.stringify({
                "lofKRange": lofKRange, "lofMinOutlier": lofMinOutlier, "lofMaxOutlier": lofMaxOutlier,
                "knnKRange": knnKRange, "knnMinOutlier": knnMinOutlier, "knnMaxOutlier": knnMaxOutlier,
                "mMinOutlier": mMinOutlier, "mMaxOutlier": mMaxOutlier,
            });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(data);
                console.log("JSON file has been sent");

            } 
            
            else if(document.getElementById("mCB").checked == false){
                var data = JSON.stringify({
                "lofKRange": lofKRange, "lofMinOutlier": lofMinOutlier, "lofMaxOutlier": lofMaxOutlier,
                "knnKRange": knnKRange, "knnMinOutlier": knnMinOutlier, "knnMaxOutlier": knnMaxOutlier,
                "ifKRange": ifKRange, "ifRange": ifRange, "ifMinOutlier": lofMinOutlier, "ifMaxOutlier": lofMaxOutlier,
            });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                r.setRequestHeader("Content-Type", "application/json");
                xhr.send(data);
                console.log("JSON file has been sent");
            }
            else{
            var data = JSON.stringify({
                "lofKRange": lofKRange, "lofMinOutlier": lofMinOutlier, "lofMaxOutlier": lofMaxOutlier,
                "knnKRange": knnKRange, "knnMinOutlier": knnMinOutlier, "knnMaxOutlier": knnMaxOutlier,
                "ifKRange": ifKRange, "ifRange": ifRange, "ifMinOutlier": lofMinOutlier, "ifMaxOutlier": lofMaxOutlier,
                "mMinOutlier": mMinOutlier, "mMaxOutlier": mMaxOutlier,
            });
                var xhr = new XMLHttpRequest();
                var url = "result";
                xhr.open("POST", url, true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(data);
                console.log("JSON file has been sent");
            }
        }

    </script>
</head>

<!-- <div id="dataviz_axisZoom"></div> -->

<div id="reliable_labels">
    <div id="reliable_inout_div">
        <label for="reliable_inout">Reliable Label:</label>
        <select id="reliable_inout"></select>
    </div>
    <p id="reliable_output"> </p>
    <div class="row align-items-center">
        <div class="col-sm-2">
            <p id="value-step"></p>
        </div>
        <label for="slider-step">Reliable labels by iteration </label>
        <div class="col-sm">
            <div id="slider-step"></div>
        </div>
    </div>
</div>

<div id="filter">
    <div id="filtertitle">Filtering:</div>

    <br>
    <div id="pred_but">
        <label for="metric">Metric:</label>
        <select id="metric"></select>
    </div>
    <div id="label_but">
        <label for="selectButton_label">Label:</label>
        <select id="selectButton_label"></select>
    </div>
    <div id="correct_but">
        <label for="selectButton_correct">Correct Prediction?:</label>
        <select id="selectButton_correct"></select>
    </div>
</div>

<ul class="legend">
    <li><span class="inlier"></span id="in">Inlier</li>
    <li><span class="outlier"></span id="out">Outlier</li>
    <!-- <li><span class="incorrect"></span id = "incorr">Incorrect Prediction</li> -->
</ul>

<div class="vl"></div>

<div id=temp>
    <div id=test_tabel></div>
    <div id=table_div>
        <table id="table" class="display" style="width:10%;"></table>
    </div>
    <div id=table2_div>
        <table id="table2" class="display" style="width:10%"></table>
    </div>
</div>

<div id="summary">
    <form enctype=multipart/form-data>
        <table>
            <tr>
                <td><b>F-1 of AutoOD</b></td>
                <td> </td>
                <td>{{ autood_f1 }}</td>
            </tr>
            <tr>
                <td><b>F-1 of Best Unsupervised Detector</b></td>
                <td> </td>
                <td>{{ best_f1 }}</td>
            </tr>
            <tr>
                <td><b>Best Unsupervised Detector</b></td>
                <td> </td>
                <td>{{best_method}}</td>
            </tr>
        </table>
    </form>
</div>

<div id="loader"></div>

<div class="tab_holder">
    <ul class="tab" id="tab">
        <li><button class="tablinks" onclick="updateTabContent(event, 'Run1')" id="defaultOpen">Run1</button></li>
    </ul>
    <div class="tabcontent_holder">
        <div id="Run1" class="tabcontent">
            <h3 id="history_header">Run1</h3>
            <div id="dataviz_axisZoom"></div>
        </div>
    </div>
    <div>   
        <button id="submitBtn" onclick="sendJSONData()"><b>Rerun</b></button> <!--onclick="setTimeout(window.location.reload(), 3000)"-->

    </div>
</div>

<div id=popup_chart>
    <div id="barplot"></div>
    <div id="barplot2"></div>
</div>

<div id="rerun_holder">
    <div id="rerun">
        <div>
            <div class="home-container">
                <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle">
                        <span class="home-text">Re-Run Settings</span>
                        <div data-thq="thq-dropdown-arrow" class="home-dropdown-arrow">
                            <svg viewBox="0 0 1024 1024" class="home-icon">
                                <path d="M426 726v-428l214 214z"></path>
                            </svg>
                        </div>
                    </div>
                    <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
                        <li data-thq="thq-dropdown" class="home-dropdown list-item">
                            <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle1">
                                <input type="checkbox" checked="true" id="lofCB"/>
                                <span class="home-text1">Local Outlier Factor</span>
                                <button type="button" class="button" id="myBtn1" onclick="displayModal1()"><img
                                        src="https://thenounproject.com/api/private/icons/333752/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                                        alt="gearPNG" width="50" height="50" /></button>


                                <!--End of Form Pop Up-->
                            </div>
                        </li>
                        <li data-thq="thq-dropdown" class="home-dropdown1 list-item">
                            <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle2">
                                <input type="checkbox" checked="true" id="knnCB"/>
                                <span class="home-text2">knn-N-Neighbors</span>
                                <button type="button" class="button" id="myBtn2" onclick="displayModal2()"><img
                                        src="https://thenounproject.com/api/private/icons/333752/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                                        alt="gearPNG" width="50" height="50" /></button>

                                <!--End of Form Pop Up-->
                            </div>
                        </li>
                        <li data-thq="thq-dropdown" class="home-dropdown2 list-item">
                            <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle3">
                                <input type="checkbox" checked="true" id="ifCB"/>
                                <span class="home-text3">Isloation Forest</span>
                                <button type="button" class="button" id="myBtn3" onclick="displayModal3()"><img
                                        src="https://thenounproject.com/api/private/icons/333752/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                                        alt="gearPNG" width="50" height="50" /></button>

                                <!--End of Form Pop Up-->
                            </div>
                        </li>
                        <li data-thq="thq-dropdown" class="home-dropdown3 list-item">
                            <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle4">
                                <input type="checkbox" checked="true"id="mCB" />
                                <span class="home-text4">Malanohbis</span>
                                <button type="button" class="button" id="myBtn4" onclick="displayModal4()"><img
                                        src="https://thenounproject.com/api/private/icons/333752/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0"
                                        alt="gearPNG" width="50" height="50" /></button>

                                <!--End of Form Pop Up-->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal div -->

<div id="modal_holder">
    <!-- The Modal -->
    <div id="myModal1" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close1" onclick="closeModal1()">&times;</span>
            <p>Local Outlier Factor</p>
            <br><br>
            <form action="/action_page.php">
                <label for="lofKRange">K-Range (interger-interger):</label>
                <input type="text" id="lofKRange" name="lofKRange"><br><br>
                <label for="lofMinOutlier">Minimum Outlier % (float):</label>
                <input type="text" id="lofMinOutlier" name="lofMinOutlier"><br><br>
                <label for="lofMaxOutlier">Max Outlier % (float):</label>
                <input type="text" id="lofMaxOutlier" name="lofMaxOutlier"><br><br>
                <br><br>
                <button type="button" class="button" id="lofUpdate" onclick="updateLOFData()">Update</button>
            </form>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal2" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close2" onclick="closeModal2()">&times;</span>
            <p>k - Nearest - Neighbors Settings</p>
            <br><br>
            <form action="/action_page.php">
                <label for="knnKRange">K-Range (interger-interger):</label>
                <input type="text" id="knnKRange" name="knnKRange"><br><br>
                <label for="knnMinOutlier">Minimum Outlier % (float):</label>
                <input type="text" id="knnMinOutlier" name="knnMinOutlier"><br><br>
                <label for="knnMaxOutlier">Max Outlier % (float):</label>
                <input type="text" id="knnMaxOutlier" name="knnMaxOutlier"><br><br>
                <br><br>
                <button type="button" class="button" id="knnUpdate"onclick="updateKNNData()">Update</button>
            </form>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal3" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close3" onclick="closeModal3()">&times;</span>
            <p>Isolation Forest</p>
            <br><br>
            <form action="/action_page.php">
                <label for="ifKRange">K-Range (interger-interger):</label>
                <input type="text" id="ifKRange" name="ifKRange"><br><br>
                <label for="ifRange">IF-Range (float-float):</label>
                <input type="text" id="ifRange" name="ifRange"><br><br>
                <label for="ifMinOutlier">Minimum Outlier % (float):</label>
                <input type="text" id="ifMinOutlier" name="ifMinOutlier"><br><br>
                <label for="ifMaxOutlier">Max Outlier % (float):</label>
                <input type="text" id="ifMaxOutlier" name="ifMaxOutlier"><br><br>
                <br><br>
                <button type="button" class="button" id="ifUpdate" onclick="updateIFData()">Update</button>
            </form>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal4" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close4" onclick="closeModal4()">&times;</span>
            <p>Mahalanobis</p>
            <br><br>
            <form action="/action_page.php">
                <label for="mMinOutlier">Minimum Outlier % (float):</label>
                <input type="text" id="mMinOutlier" name="mMinOutlier"><br><br>
                <label for="mMaxOutlier">Max Outlier % (float):</label>
                <input type="text" id="mMaxOutlier" name="mMaxOutlier"><br><br>
                <br><br>
                <button type="button" class="button" id="mUpdate" onclick="updateMData()">Update</button>
            </form>
        </div>
    </div>
</div>

</html>